body {
  color: #abd4f1;
  background-color: #012640;
  font-size: small;
  font-family: sans-serif;
  height: calc(100vh - 2em);
  margin: 1em;
  display: flex;
}

body > * {
  flex: auto;
}

.domain,
.gridline-y,
.gridline-x,
.annotation-line > line {
  stroke: #abd4f1;
  stroke-opacity: 0.1;
}
